<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="log.ConsoleLogger" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="log.FileLogger" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>