<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="monthTimestamp" datePattern="MM"/>
    <timestamp key="yearTimestamp" datePattern="yyyy"/>
    <timestamp key="dateTimestamp" datePattern="yyyy-MM-dd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs\${yearTimestamp}\${monthTimestamp}\eventrest-${dateTimestamp}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>


    <logger name="FileLogger" level="Trace">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="ConsoleLogger" level="TRACE">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>